body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
}


.header{

}


.content{

}


.footer{

}


.hidden{
    display: none;
}


.title{
    text-align: center;
    margin-top: 10px;
}

h3{
    text-align: center;
}

h4{
    text-align: left;
}

.display-resturant{
    margin-top: 35px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.display-resturant form{
    margin-top: 25px;

}
