.results-ul-form,.vote-ul-form,
.results-row-ul,.voting-table,
.createVote-ul-form,.check-select-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


span.check-select{
    padding-left: 10px;
}


.vote-ul-form{

}

li.vote-radio{
    max-width: 22px;
}

.rest-vote-add,.rest-vote-edit{
    margin-right: 10px;
}

.editVote-form,createVote-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.vote-li-form,.results-li-form,.results-name-cell{
    max-width: 115px;
}


.results-ul-form{}


.results-li-form{}


.results-row-ul{}


.results-rest-display{}

.rest-vote{
    padding-bottom: 25px;
}

.voteForm{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.resultsForm{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
