<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
</head>

<body>

  <div>
      <%
      var reslut = 0;
      if(operand == "add")
      {
          reslut = num1 + num2;
      }
      else if(operand == "sub")
      {
          reslut = num1 - num2;
      }
      else if(operand == "mul")
      {
          reslut = num1 * num2;
      }
      else if(operand == "div")
      {
          reslut = num1 / num2;
      }
       %>

      <h1><%= reslut %></h1>

  </div>

</body>
</html>
